{% extends 'app/layout.html' %}

<!-- {% block title %}Forgot Your Password?{% endblock %} -->
{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/app/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Check your inbox.</h1>
                    <span>We've emailed you instructions for setting your password. You should receive the email shortly!</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
